# Temp files
.DS_Store
*~
buck-out/

# Jupyter Notebook
.ipynb_checkpoints/

# IDEs
/.idea/
/.vscode/

# Compiled files
.venv/
__pycache__/
.*cache/

# Distribution / packaging
/dist/

# Tests and coverage
/data/
/node_modules/
/docs/notebooks/mapped_q_and_r.h5ad

# docs
/docs/generated/
/docs/_build/
